<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/tailwind.css" rel="stylesheet">
    <title>Document</title>
</head>
<body class="bg-blue-400">
  <button class="bg-blue-500 hover:bg-green-400 text-white font-bold py-4 px-8 rounded">Yes</button>
  <button class="bg-blue-500 hover:bg-red-400 text-white font-bold py-4 px-8 rounded">No</button>



</body>
</html>
